body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: normal;
	margin: 0px;
	padding: 0px;
	background-image: url(images/bkg-gr2.gif);



}
table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}
h1 {
	margin: 0 0 9px;
	font-family:arial, verdana, helvetica, sans-serif;
	font-size:28px;
	font-weight:normal;
	color:#7F807A;
	text-transform:lowercase;
	letter-spacing: -.04em;

}

h2 {
	margin: 0 0 0;
	font-family:arial, verdana, helvetica, sans-serif;
	font-size:24px;
	font-weight:normal;
	color:#FFFFFF;
	text-transform:lowercase;
	letter-spacing: -0.04em;

}
h3 {
	font-family: arial, verdana, helvetica, sans-serif;
	font-weight:normal;
	margin: 0 0% 4px 0;
	font-size: 18px;
	color:#CC0000;
	text-transform:lowercase;
	letter-spacing: -0.02em;


}
h4 {
	font-size: 12px;
	color: #CC0000;
	font-weight: normal;
	z-index: 1;
	padding: 0px;
	vertical-align: top;
	margin: 0px;
	line-height: 1.5em;



}
h4 a:hover {
	text-decoration: underline;
	color: #FF0000;
}
h5 {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	z-index: 1;
	padding: 0px;
	vertical-align: top;
	margin: 5px 0px 0px;

}
#pagebody {
	z-index: 0;
	background-color: #FFFFFF;
	padding: 5px 10px 2px;


}
#menu {
	color: #FFFFFF;
	height: 20px;
	background-color: #000000;
	padding: 0px;
	text-align: center;
}
#menu1 {
	margin: 0;
	padding: 0;
	font-size: 9px;
	font-weight: normal;
	line-height: 20px;
}
#menu1 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  border: 0;
}

#menu1 ul li {
  padding: 0;
  margin: 0;
  float: left;
  text-align: center;
  display: block;
  background:#333333;
}

#menu1 a {
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: transparent;
	width: 140px;
	height: 20px;
	color: #FFFFFF;
	font-weight:normal;
	display: block;
	text-decoration: none;
	border-top: 1px solid #9F9E99;
	border-left: 1px solid #9F9E99;
	border-bottom: 1px solid #6B6C67;
	border-right: 1px solid #6B6C67;
}

#menu1 #products a	{
  width: 123px;
}

#menu1 a:hover {
background: #CC0000;
color: #fff;
}

#menu1 a:hover.current {
background: #7D0000;
color: #fff;
}

#menu1 a.current {
  background: #CC0000;
}
#menu2 {
	color: #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;
}
#menu3 {
	color: #FFFFFF;
	padding: 3px;
	position: static;
	background-image: url(../images/menu4bkg.jpg);
	font-size: 11px;
}
#menu4 {
	padding: 0px 0px 0px 20px;
}
#pagefooter {
	font-size: 9px;
	padding: 5px;
	background-color: #CC3232;
	color: #FFFFFF;
	height: 25px;

}
#header {
	background-image: url(images/grics-bkg2.jpg);
	width: 750px;
}
#image {
	height: 120px;
	width: 120px;
	left: 650px;
	position: absolute;
	top: 250px;
}
#masthead {
	background-color: #FFFFFF;
	background-image: url(images/grics-bkg2.jpg);

	text-align: right;
	background-position: right;
}
#masthead2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	text-align: right;
	width: 600px;
	color: #333333;
	font-style: normal;
	text-transform: lowercase;
	font-weight: bold;
	position: absolute;
	padding-top: 7px;
	padding-right: 13px;
}
#linkbox {
	float: left;
	padding: 0px 0px 10px;
	width: 140px;
	z-index: 2;
	left: 760px;
	position: absolute;
	background-image: url(../images/linkbkg.jpg);
	font-size: 10px;
	font-style: normal;
	border: 1px solid #FF3333;
	list-style-image: url(../images/arrow-org.gif);
	list-style-position: outside;
	top: 185px;
	background-repeat: no-repeat;
}
#photo {
	color: #006699;
	height: 100px;
	background-color: #CCCCCC;
	border: 1px solid #333333;
	width: 100px;
	left: auto;
	float: left;
	margin: 5px;
}
#title {
	color: #FFFFFF;
	padding: 2px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #663399;
	height: 5px;
}
#titlea {
	color: #FFFFFF;
	padding: 2px 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	background-color: #663399;
	height: 15px;
	text-align: right;


}
#titleb {
	color: #000000;
	padding: 0px;
	left: 242px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	z-index: 1;
	height: 50px;
	width: 500px;
	top: 79px;
}
#table1 {
	border: 1px solid #FF3333;
}
#top1 {
	z-index: 1;
	float: right;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 4px;
	font-size: 10px;
}
#top2 {
	position: absolute;
	z-index: 1;
	height: 12px;
	float: right;
	left: 750px;
	width: 40px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 4px;
	color: #FFFFFF;
}
#ausmap {
	top: 60px;
	height: auto;
	position: absolute;
	left: 770px;
	z-index: 1;
}
.footer {
	font-size: 10px;
	color: #666666;
}
.date {
	font-size: 10px;
	font-weight: bold;
	color: #660033;
}
a:visited {
	font-weight: normal;
	color: #CC0000;
	text-decoration: none;
}
a:link {
	font-weight: normal;
	color: #CC0000;
	text-decoration: none;
}
a:hover {
	font-weight: normal;
	color: #666666;
	text-decoration: underline;
}
a:active {
	font-weight: normal;
}
a.footerlink:visited {
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
a.footerlink:link {
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
a.footerlink:hover {
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
a.footerlink:active {
}
#draftonly {

	color: #33CC66;
	padding: 0px;
	left: 350px;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 48px;
	font-weight: bold;
	z-index: 1;
	height: 50px;
	width: 700px;
	top: 350px;
}
#highlight1 {
	background-color: #FFFFFF;
	text-align: left;
	color: #000000;
	border: 1px dashed #CCCCCC;
	padding: 5px;
	line-height: normal;



}
#highlight2 {
	background-color: #F7FAE2;
	padding: 5px;
	border: 1px solid #C3D940;

}
#highlight3 {
	background-color: #F7FAE2;
	padding: 5px;
	border: 1px solid #C3D940;



}
a.headerlink:visited {

	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
}
a.headerlink:link {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: normal;
}
a.headerlink:hover {
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
a.headerlink:active {

	font-weight: normal;
}
#page {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	width: 800px;
}
.partners {
	font-size: 10px;
	color: #999999;
	text-align: center;
	margin-right: 5px;
	margin-left: 5px;
	letter-spacing: -0.04em;
	border-top: 1px dotted #999999;
	border-right: 1px none #999999;
	border-bottom: 1px none #999999;
	border-left: 1px none #999999;


}
#search {
	color: #333333;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 1;
	float: none;
	position: relative;
	left: 450px;
	top: 90px;
}
#navvert1 {
	margin: 0;
	padding: 0;
}
#navvert1 a{
	display: block;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	padding-top: 4px;
	padding-right: 5px;
	padding-bottom: 4px;
	padding-left: 5px;
	line-height: 1;

}
#navvert1 ul{
	margin: 0;
	padding: 0;
	z-index: 1000;

}
#navvert1 li{
	vertical-align: top;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#navvert1 a:hover, #navvert1 a:active, #navvert1 a:focus {
	color: #FFFFFF;
	background-color: #cc0000;
	letter-spacing: normal;
}
#navvert1 a:hover.current {
background: #7D0000;
color: #fff;
}

#navvert1 a.current {
  background: #CC0000;
}
.dotline {
	color: #CC0000;
	border-top: 1px dotted #CC0000;
	border-right: 1px none #CC0000;
	border-bottom: 1px none #CC0000;
	border-left: 1px none #CC0000;
	padding: 0px;
	margin: 0px;
}
tr.row td{
	border-top-width: 1px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #CC0000;
	border-right-color: #CC0000;
	border-bottom-color: #CC0000;
	border-left-color: #CC0000;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
#container ul {

  list-style: disc url(images/arrow-red.gif) outside;
  padding: 0;
  margin: 0 0 5px 22px;
}
#container2 ul {
	list-style: disc url(images/dot-red.gif) outside;
	padding: 0;
	margin: 0 0 5px 22px;
	line-height: 1.6em;

}
